#screen{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 55px;
    height: 8px;
    border: 1px solid gray;
}
#root{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 12px;
}
.seat{
    width: 24px;
    height: 24px;
    border: 1px solid gray;
}
.seat:hover{
    background-color: lavender;
    cursor: pointer;
}
.booked{
    background-color: rgb(239, 36, 36);
}
#btn{
    margin-top: 80px;
    margin-left: 560px;
    border: 1px solid gray;

}
.Selected{
    background-color: gray;
}